{% load static%}
    <!-- ======= Header ======= -->
    <header id="header" class="header d-flex align-items-center fixed-top">
        <div
          class="container-fluid container-xl d-flex align-items-center justify-content-between"
        >
          <a href="/" class="logo d-flex align-items-center">
            <!-- Uncomment the line below if you also wish to use an image logo -->
            <!-- <img src="{% static 'assets/img/logo.png" alt=""> -->
            <!-- <h1>Logis</h1> -->
          </a>
  
          <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
          <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
          <nav id="navbar" class="navbar">
            <ul>
              <li><a href="/" class="active">Home</a></li>
              <li class="dropdown">
                <a href="#"
                  ><span>Services</span>
                  <i class="bi bi-chevron-down dropdown-indicator"></i
                ></a>
                <ul>
                  <li><a href="/pricing">Resize Image</a></li>
                  
                  <li><a href="/services">Compress Image</a></li>
                  <li><a href="/about">Crop Image</a></li>
                </ul>
              </li>
              <li><a href="/contact">Contact</a></li>
              
            </ul>
          </nav>
          <!-- .navbar -->
        </div>
      </header>
      <!-- End Header -->
     